<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- TITLE OF SITE -->
    <title>HVAC Software | HVAC Forms | HVAC Estimating Software</title>

    <meta name="description" content="Discover how ServiceWise's online HVAC software can improve customer service and reduce costs for HVAC companies." />
    <meta name="keywords" content="HVAC software, contractor software, hvac forms, hvac estimating software" />
    <meta name="author" content="ServiceWise">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FAVICON  -->
    <link rel="icon" href="/smartmvp/images/favicon/favicon.png">
    
    <!-- =========================
       STYLESHEETS 
    ============================== -->
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/smartmvp/css/plugins/bootstrap.min.css">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="/smartmvp/css/icons/icons.min.css">
     
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">
    
    <!-- PLUGINS STYLESHEET -->
    <link rel="stylesheet" href="/smartmvp/standard-variations/css/plugins/plugins.min.css">
    
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="/smartmvp/standard-variations/css/style.css">

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="/smartmvp/standard-variations/css/responsive.css">

    <!-- COLORE STYLESHEET -->
    <!-- Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css -->
    <link rel="stylesheet" href="/smartmvp/css/colors/blue.css" title="blue">

    <link rel="stylesheet" href="/smartmvp/css/custom.css">
    
    <!--[if lt IE 9]>
            <script src="/smartmvp/js/plugins/html5shiv.min.js"></script>
            <script src="/smartmvp/js/plugins/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="main-wrapper">

        <!-- =========================
             PRELOADER
        ============================== -->
        <div class="preloader">
            <div class="loader-container">
                <div class="text-logo">ServiceBase</div>
                <div class="signal"></div>
            </div>
        </div> 
        

        <!-- =========================
             HEADER
        ============================== -->
        <header class="header" id="top" data-stellar-background-ratio="0.5">
            <!-- Background Overlay -->
            <div class="overlay">

                <!-- =========================================
                     Navigation
                ========================================== -->
                <nav class="navbar navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Navbar-Header -->
                                <div class="navbar-header">
                                    


                                    <!-- Text-Logo -->
                                    <a href="#top" class="navbar-brand scrollto" title="ServiceBase">
                                        <span class="text-logo">ServiceBase</span>
                                    </a> 

                                    <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200) 

                                    <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                                        <img src="assets/images/logo.png" alt="Logo">
                                    </a> 
                                    -->

                                </div><!-- /End Navbar-Header -->

                            </div><!-- /End Col -->
                        </div><!-- /End Row -->
                    </div><!-- /End Container -->
                </nav><!-- /End Sticky Navigation -->

                
                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle hero-app">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="hero-section">
                                
                                <!-- Welcome - Hero Message -->
                                <h1 class="text-white">HVAC Service Made Easier</h1>
                                <p class="text-white">Drop the carbon-copy forms and generic, outdated software for managing your HVAC service visits. ServiceBase lets you complete tickets, proposals, inspections, and more from any modern smartphone or tablet.</p>

                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box">
                                    <a href="#about" class="btn btn-color scrollto">Learn More</a>
                                </div>

                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->

                        <!-- App Showcase Image -->
                        <div class="col-sm-6 hidden-xs">
                            <div class="app-box">
                                <img src="/smartmvp/images/hvac-forms.png" alt="Screenshots of HVAC forms from HVAC software" class="img-responsive">
                            </div>
                        </div>

                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->



        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>Software designed with HVAC contractors for HVAC contractors</h2>
                            <p class="large">Providing great software and support requires focus, so we specialize in the HVAC service industry.  Your business is our business.</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-profile-male"></i>
                            </div>
                            <h4>Easy to Use</h4>
                            <p>Intuitive and efficient with little or no configuration required. Customer feedback and continous improvement are integral to our development process.</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Nearly Any Device</h4>
                            <p>A single app that works seamlessly on iPhone, iPad, Android, and more with full offline & sync functionality. HTML5 technology makes it possible.</p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-chat"></i>
                            </div>
                            <h4>Knowledgeable Support</h4>
                            <p>If you have questions, we want to hear from you.  Call us and you'll speak to a person who understands your business and our software.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->


        <!-- ==================================================
             SECTION 2 COLS - IMAGE RIGHT AND TEXT WITH CALL TO ACTION
        ======================================================= -->
        <section class="img-with-action light-bg">
            <div class="container wrapper-lg">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <!-- Text Col -->
                        <h3>The Right Tool for the Job</h3>
                        <p>Built specifically to manage customer, jobsite, and equipment information alongside standard HVAC forms, ServiceBase is the right tool for the job. Additionally, it is built on the right technology for the job - HTML5 - the multi-platform, future-proof technology that powers the modern web.</p>

                        <!-- Div Required for Correct Charts Animation -->
                        <div class="start-charts"></div>
                    </div>
                </div><!-- /End Row-->
            </div><!-- /End Container-->
            <!-- Image Col -->
            <div class="hidden-sm hidden-xs col-md-6 img-col-bg img-right"></div>
        </section>
        <!-- =============================
             /END SECTION 
        ============================== -->


        <!-- =============================
             PRICING SECTION
        ============================== -->
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">

                    </div>
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END PRICING SECTION 
        ============================== -->



        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <section id="canvas-bg" class="dark-bg signup-divider">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Signup today for early access!</h2>
                            <p class="large text-white">ServiceBase is an Austin, Texas based startup on a mission to ease the pain of running an HVAC service business.  We're working with a handful of visionary, ambitious HVAC businesses to bring the product to market in 2015.  Signup below to get early access and learn about becoming a beta customer.</p>
                            
                            <!-- Handwritten text with arrow -->
                            <!--
                            <p class="signup-handwritten text-white">Why wait? Start now! <br>No credit card needed</p>
                            -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- Early Access Subscribe -->
                        <%= form_for(@lead, remote: true) do |f| %>
                        <!-- <form id="signup-divider" role="form"> -->
                            <!-- Notification -->
                            <p class="subscription-success">
                                <i class="icon icon_check_alt2"></i> <strong>Thank you!  We will email you shortly.</strong>
                            </p>
                            <p class="subscription-failed">
                                <i class="icon icon_close_alt2"></i><strong> Something went wrong! Please try again later.</strong>
                            </p>  
                            <br />

                            <!-- Input fields -->
                            <div class="form-group">
                                <%= f.text_field(:name, class: "form-control input-lg", placeholder: "Enter your Name") %>
                                <!--
                                <input type="email" name="signup-email" id="signup-email" class="form-control input-lg" placeholder="Enter your name" required>
                                -->
                            </div>
                            <div class="form-group">
                                <%= f.text_field(:email, class: "form-control input-lg", placeholder: "Enter your Email") %>
                                <!--
                                <input type="password" size="25" name="signup-password" id="signup-password" class="form-control input-lg" placeholder="Enter your email address" required>
                                -->
                            </div>
                            <!-- Signup Button -->
                            <%= f.submit "GET EARLY ACCESS", class: "btn btn-color", id: "lead_button",
                                                            data: { disable_with: "SENDING............." }  %>
                            <!--
                            <button class="btn btn-color">Get Early Access</button>
                            -->
                        <!-- </form> -->
                        <% end %>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END SIGNUP SECTION 
        ============================== -->



        <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Footer Left Col -->
                        <div class="col-md-6">
                                <!-- Logo -->
                                <a href="#top" class="scrollto" title="ServiceWise">
                                    <span class="text-logo">ServiceBase</span>
                                </a>
                                <p class="footer-hero">The easiest way to run your HVAC service business.</p>
                                <br />
                                <p class="footer-cta">Sign up and get started today!</p>
                        </div>
                        <!-- Footer Contact Col -->
                        <div class="col-md-2">

                        </div>
                        <!-- Footer Right Col: Twitter Feed -->
                        <div class="col-md-4">
                            <h5 class="text-white">Contact Us</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:info@servicewise.co">info@servicebase.net</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_pin"></i>
                                </div>
                                <div class="contact-content">
                                    4321 Emma Browning Ave.<br>
                                    Austin, Texas  78719
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                    512-450-8153
                                </div>
                            </div>
                        </div>

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <p class="footer-copy">&copy; 2015 ServiceBase.  All rights reserved.</p>
                            </div>
                        </div>
                        
                    </div><!-- End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>


    </div><!-- /End Main Wrapper-->


    <!-- =========================
        SCRIPTS 
    ============================== -->
    <!-- Required to include jquery_ujs for remote (ajax) form -->
    <!-- Also includes jquery -->
    <%= javascript_include_tag :application %>
    <script src="/smartmvp/standard-variations/js/plugins/bootstrap.min.js"></script>
    <script src="/smartmvp/standard-variations/js/plugins/jquery.easing.1.3.min.js"></script>
    <script src="/smartmvp/standard-variations/js/plugins/modernizr.custom.min.js"></script>
    <script src="/smartmvp/standard-variations/js/plugins/plugins.min.js"></script>
    <!-- <script src="/smartmvp/standard-variations/js/plugins/twitter/tweetie.min.js"></script> -->

    <!-- Custom Script -->
    <script src="/smartmvp/standard-variations/js/custom.js"></script>

    <script>
        //Only run Google Analytics in Production
        //http://stackoverflow.com/questions/1251922/is-there-a-way-to-stop-google-analytics-counting-development-work-as-hits
        if (document.location.hostname == 'www.servicewise.co') {

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58866132-2', 'auto');
            ga('send', 'pageview');

        }
        else {
            console.log('Host Name:' + ' ' + document.location.hostname);
            console.log('Google Analytics tracking code not executed');
        }
    </script>

</body>
</html>