<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- TITLE OF SITE -->
    <title>SmartMVP | Startup and App Responsive Landing Page Template</title>

    <meta name="description" content="Responsive Landing Page for Presenting Your Startup: Saas, Mobile or Web Application" />
    <meta name="keywords" content="smartmvp, startup theme, startup template, startup example, startup landing page, one page, responsive, app landing, html template, mobile application, responsive landing page" />
    <meta name="author" content="ThemeDept">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FAVICON  -->
    <link rel="icon" href="/smartmvp/images/favicon/favicon.ico">
    
    <!-- =========================
       STYLESHEETS 
    ============================== -->
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/smartmvp/css/plugins/bootstrap.min.css">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="/smartmvp/css/icons/icons.min.css">
     
    <!-- GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">
    
    <!-- PLUGINS STYLESHEET -->
    <link rel="stylesheet" href="/smartmvp/css/plugins/plugins.min.css">
    
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" href="/smartmvp/css/style.css">

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="/smartmvp/css/responsive.css">

    <!-- COLORE STYLESHEET -->
    <!-- Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css -->
    <link rel="stylesheet" href="/smartmvp/css/colors/blue.css" title="red">
    
    
    <!--[if lt IE 9]>
            <script src="assets/js/plugins/html5shiv.min.js"></script>
            <script src="assets/js/plugins/respond.min.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
</head>

<body>
    <!-- =========================
         PRELOADER
    ============================== -->
    <div class="preloader">
        <div class="loader-container">
            <div class="text-logo">ServiceLink</div>
            <div class="signal"></div>
        </div>
    </div> 
    

    <!-- =========================
         HEADER
    ============================== -->
    <header class="header" id="top" data-stellar-background-ratio="0.5">
        <!-- Background Overlay -->
        <div class="overlay">

            <!-- =========================================
                 Navigation
            ========================================== -->
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Navbar-Header -->
                            <div class="navbar-header">

                                <!-- Text-Logo -->
                                <a href="#top" class="navbar-brand scrollto" title="SmartMvp">
                                    <span class="text-logo">ServiceLink</span>
                                </a> 

                                <!-- Image-Logo: Remove this comments and the section above Text-Logo if you want to add an Image-Logo (recommended sizes -> max-height:50, max-width:200) 

                                <a href="#top" class="navbar-brand img-logo scrollto" title="SmartMvp">
                                    <img src="assets/images/logo.png" alt="Logo">
                                </a> 
                                -->

                            </div><!-- /End Navbar-Header -->


                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container -->
            </nav><!-- /End Sticky Navigation -->


            <!-- =========================================
                 Hero-Section
            ========================================== -->
            <div class="container vmiddle earlyaccess">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hero-section">
                            
                            <!-- Welcome - Hero Message -->
                            <h1 class="text-white">Mobile Forms Your Technicians Will Love</h1>
                            <p class="text-white">Designed with HVAC technicians, for HVAC technicians.</p>
                            <p class="text-white">Fully customizable and works with existing software.</p>
                            <p class="text-white">Coming Spring 2015</p>
                            
                            <div class="col-md-12">

								<!-- Early Access Subscribe. Emails List in subscribe.txt -->
								<%= form_for(@lead, remote: true) do |f| %>

								    <div class="row earlyaccess-box">
								        <div class="col-md-11" style="padding-left:0">
								            <p class="subscription-success"><i class="icon icon_check_alt2"></i> Thank you!  We will contact you shortly.</p>
								            <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong.  Please try again later.</p>

								            <div class="input-group">
								            	<%= f.text_field(:email, class: "form-control", style: "min-width:250px",
								            		placeholder: "Enter your Email Address") %>
								                <span class="input-group-btn">
								                    <%= f.submit "GET EARLY ACCESS", class: "btn btn-color", id: "lead_button"  %>
								                </span>
								            </div>
								        </div>
								    </div>

								<% end %>                     

                            </div>
                            <span class="text-white">We will never spam you or share your email address.</span>
                            
                        </div><!-- /End Intro-Section -->
                    </div><!-- /End Col -->
                    <!-- App Showcase Image -->
                    <div class="col-sm-6 hidden-xs">
                        <div class="app-box">
                            <img src="/smartmvp/images/devices-app-blue.png" alt="" class="img-responsive">
                        </div>
                    </div>

                </div><!-- /End Row -->
            </div><!-- /End Container Hero-Section -->


        </div><!-- /End Background Overlay -->
    </header>
    <!-- =========================
         /END HEADER
    ============================== -->

    
    <!-- =================================
         SECTION ABOUT - INTRO FEATURES
    ====================================== -->
    <section class="intro-features" id="about">
        <div class="container">
            <!-- Padding -->
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Section Header Title -->
                    <div class="col-xs-12">
                        <h2>Say goodbye to paperwork</h2>
                        <p class="large">Complete forms, capture signatures, and record equipment information from nearly any device, with or without internet access.</p>
                    </div>
                </div>
                <!-- Three Main Features with Icons -->
                <div class="row">
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="icon icon-documents"></i>
                        </div>
                        <h4>Built for HVAC</h4>
                        <p>Service tickets, proposals, inspection reports, and more.  Designed for usability in the field.</p>
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="icon icon-rss"></i>
                        </div>
                        <h4>Full Offline Access</h4>
                        <p>No internet connection required.  Automatically sync when a connection is available.</p>  
                    </div>
                    <div class="col-sm-4 intro-content">
                        <div class="icon-lg">
                            <i class="icon icon-browser"></i>
                        </div>
                        <h4>Easy to Customize</h4>
                        <p>More than custom fields.  We tailor our software to work for your business.</p>
                    </div>
                </div><!-- /End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </section>
    <!-- =============================
         /END INTRO FEATURES
    ============================== -->
    
    

    


    
    

    



    

    
    
    <!-- ==================================================
        FOOTER
    ======================================================= -->
    <footer class="footer dark-bg" id="footer">
        <div class="container">
            <div class="wrapper-lg">
                <div class="row">
                    <!-- Footer Left Col -->
                    <div class="col-md-5">
                            <!-- Logo -->
                            <a href="#top" class="scrollto" title="SmartMvp">
                                <span class="text-logo">ServiceLink</span>
                            </a>
                            <p class="footer-text">Mobile forms your technicians will love.</p>
                            <p class="footer-cta">Sign up now!
                                <a href="#top" class="btn btn-color">Get Early Access</a>
                            </p> 
                    </div>
                    <!-- Footer Contact Col -->
                    <div class="col-md-3">

                    </div>
                    <!-- Footer Right Col: Twitter Feed -->
                    <div class="col-md-4">
                        <h5 class="text-white">Contact Us</h5>
                        <div class="contact-item">
                            <div class="contact-icon">
                                <i class="icon icon_mail"></i>
                            </div>
                            <div class="contact-content">
                                <a href="mailto:info@servicelinkonline.com">info@servicelinkonline.com</a>
                            </div>
                        </div>
 
                    </div>

                    <!-- Footer Menu and Copy -->
                    <div class="row">
                        <div class="col-md-12">

                            <p class="footer-copy">&copy; 2014 ServiceLink. All rights reserved.</p>
                        </div>
                    </div>
                    
                </div><!-- End Row -->
            </div><!-- /End Wrapper -->
        </div><!-- /End Container -->
    </footer>


    <!-- =========================
         SCRIPTS 
    ============================== -->
    <!-- Not using the asset pipeline, but this is required to include jquery_ujs for remote (ajax) form -->
    <!-- Also includes jquery -->
    <%= javascript_include_tag :application %>
    <!-- <script src="/smartmvp/js/plugins/jquery1.11.0.min.js"></script> -->
    <script src="/smartmvp/js/plugins/bootstrap.min.js"></script>

    <!-- Custom Script -->
    <script src="/smartmvp/js/custom.js"></script>

    

</body>
</html>